 <div class="user-details">
  <h1> Sobre mí </h1>
  <img class="avatar" src="\assets\img\bio-photo.jpg" alt="bio-photo">
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Sistemas</h2>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <!-- <p>Administración de sistemas Windows Server, UNIX/Linux y Windows Desktop</p> -->
    </div>
    <div class="tech">
      <h2>Virtualización</h2>
      <img src="\assets\img\hyper-v.png" alt="hyper-v">
    <!--  <p>Entornos virtualizados con Microsoft Hyper-V</p> -->
    </div>
    <div class="tech">
      <h2>Desarrollo</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
    <!--  <p>Conocimientos de Python y Java</p>-->
    </div>
    <div class="tech">
        <h2>Diseño</h2>
        <i class="devicon-html5-plain colored"></i>
        <i class="devicon-css3-plain colored"></i>
      <!--  <p>Conocimientos de Python y Java</p> -->
      </div>
</div>
