 <div class="user-details">
  <h1> Sobre mí </h1>
  <img src="\assets\img\bio-photo.jpg" alt="bio-photo">
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Sistemas</h2>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-debian-plain colored"></i>
      <p>Descripcion</p>
    </div>
    <div class="tech">
      <h2>Server</h2>
      <i class="devicon-apache-line colored"></i>
      <i class="devicon-tomcat-line colored"></i>
      <p>Descripcion</p>
    </div>
    <div class="tech">
      <h2>Desarrollo</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Descripcion</p>
    </div>
</div>
